extends /templates/layout

block content
  form#loginform(action="",onsubmit='doLogin($("#un").val(), $("#pw").val()); return false;',method="GET")
    p(style="text-align: center; margin: 0px auto 20px auto;")
      img(src="/images/autozone-logo.png")
    p.error(style="background: red; color: white; padding: 20px; margin: 20px 0; border-radius: 3; display: none")
    p
      label Username
      div.usernameError(style="color: red; display: none;") Username is required
      input.form-control#un(type="text",name="username")
    p
      label Password
      div.passwordError(style="color: red; display: none;") Password is required
      input.form-control#pw(type="password",name="password")
    button#loginbtn.priority.btn-save(onclick='$("#loginform").submit(); return false;',style="width:120px") Login
    
block scripts
    script(type="text/javascript").
      function doLogin(username, password) {
        $('#loginform .usernameError').hide();
        $('#loginform .passwordError').hide();
        $('#loginform p.error').hide();

        $('#loginbtn').addClass('loading').attr({disabled:'disabled'});
        
        $.ajax({
          type: "POST",
          url: '/login',
          data: {username: username, password: password},
          success: function(data) {
            $('#loginbtn').removeClass('loading').removeAttr('disabled');
            
            if (!data || !data.success) {
              if (!username || username.length <= 0) {
                $('#loginform .usernameError').show();
              }
              if (!password || password.length <= 0) {
                $('#loginform .passwordError').show();
              }
              if (password && username && password.length > 0 && username.length > 0) {
                $('#loginform p.error').text('Unknown username or password.').show();
              }
            } else {
              window.location.href = '/swagger/editor/';
            }
          },
          dataType: 'json'
        });
      }