html, body { font-size: 16px; width: 100%; height: 100%; font-family: Ubuntu; }

html, body, p, i, h1, h2, h3, h4, h5, h6, span , div, ul, li, input, button { box-sizing: border-box; margin: 0; padding: 0; border: 0; outline: none !important; list-style: none; font-size: 1em; }

h1 { font-size: 2em; }
h2 { font-size: 1.7em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1.1em; }

a { color: black; text-decoration: none; }

body#login { background: #d62c27; height: auto; }
body#login label { font-weight: bold; }
body#login form#loginform { display: block; width: 100%; max-width: 500px; margin: 50px auto 20px auto; padding: 20px; border-radius: 5px; background: #fff; -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5); -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5); box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.5); }
body#login input.form-control { width: 100%; margin: 10px 0; padding: 10px 15px; font-size: 1em; border: solid 1px #aaa; }
body#login button.priority { background-color: #f37f00; color: white; padding: 10px 15px; border-radius: 3px; margin: 10px 0; cursor: pointer; }

#map-wrapper { width: 100%; height: 100%; transition: padding-left .25s; }

#google-map { width: 100%; height: 100%; z-index: 0; }

#map-mask { display: none; z-index: 2; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }
.blockout { display: none; z-index: 10; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0); }
.modal-blockout { display: none; z-index: 10; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); }

.infowindowlist { margin: 0; padding: 0; }
.infowindowlist li { margin: 0; padding: 0; border-bottom: solid 1px #ccc; }
.infowindowlist li:last-child { border-bottom: none; }
.infowindowlist li a { display: block; margin: 0; padding: 10px 0; }

#sidebar-toggle { position: absolute; z-index: 1; left: 0; top: 20px; transition: left .25s; }

#map-sidebar { position: absolute; z-index: 1; left: 0; top: 0; width: 0; height: 0; opacity: 0; transition: opacity .25s; }
#map-sidebar header { background: #0056a0; height: 45px; padding: 70px 25px 25px 25px; color: white; }
#map-sidebar header h1 { white-space: nowrap; overflow: hidden; margin-right: 60px; }
#map-sidebar header .tools { float: right; padding: 4px; background: white; border-radius: 4px; font-size: 1em; margin-top: 6px; }
#map-sidebar ul#breadcrumb { list-style: none; font-size: 0.8em; white-space: nowrap; overflow: hidden; }
#map-sidebar ul#breadcrumb  a { color: #b9b9b9; }
#map-sidebar ul#breadcrumb li { display: inline-block; margin: 0 5px 0 0; }
#map-sidebar ul#breadcrumb li:before { content: "\00BB"; margin: 0 5px 0 0; }
#map-sidebar ul#breadcrumb li:first-child:before { content: none; }
#map-sidebar #actions { display: none; height: 75px; background: #efefef; }
#map-sidebar #actions li { display: inline-block; width: 50px; height: 50px; margin: 12px 0 0 10px; overflow: hidden; }
#map-sidebar #actions .action { display: inline-block; width: 50px; height: 50px; text-align: center; }
#map-sidebar #actions .action i.fa { font-size: 2em; }
#map-sidebar #actions .action span { font-size: 0.8em; }
#map-sidebar #selectallactions { height: 40px; overflow: hidden; padding: 10px; border-bottom: solid 1px #ddd; }
#map-sidebar #childitems { position: absolute; bottom: 0; top: 180px; overflow-y: scroll; width: 100%; }
#map-sidebar #childitems li { border-bottom: solid 1px #ddd; }
#map-sidebar #childitems li.empty-message { padding: 20px; font-size: 1.1em; line-height: 1.7em; }
#map-sidebar #childitems a.visibility { width: 30px; display: block; padding: 10px 0 10px 10px; }
#map-sidebar #childitems a.chevron { padding: 10px 10px 10px 0; }
#map-sidebar #childitems .label { margin: 0 40px 0 40px; display: block; padding: 10px 10px 10px 0; }
#map-sidebar #childitems .label:after { content: ''; clear: both; }

.form-control { width: 100%; border: solid 1px #ccc; padding: 8px; font-size: 1em; border-radius: 3px; margin: 5px 0; }

button.tools { cursor: pointer; }
.fa-caret-down { cursor: pointer; }

.popup-menu { z-index: 11; position: absolute; width: auto; height: auto; color: #f5f5f5; background: #4c4c4c; border: solid 1px #383838; border-radius: 5px; -webkit-box-shadow: 1px 1px 7px 0px rgba(100,100,100,1); -moz-box-shadow: 1px 1px 7px 0px rgba(100,100,100,1); box-shadow: 1px 1px 7px 0px rgba(100,100,100,1); }
.popup-menu li { border-bottom: solid 1px #383838; }
.popup-menu li:last { border-bottom: none; }
.popup-menu li.nolink { padding: 10px 15px; }
.popup-menu li a { display: block; padding: 10px 15px; color: #f5f5f5; }

#search-box { position: absolute; z-index: 2; left: 0px; top: 0px; height: 50px; width: 410px; border-radius: 2px; background: #0d6ed4; transition: left.25s, width .25s, box-shadow .25s, -moz-box-shadow .25s, -webkit-box-shadow .25s; -webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2); box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2);}
#search-box input { width: 100%; padding: 5px 60px 5px 60px; height: 40px; font-size: 1em; border: 0; background: transparent; }
#search-box .rounded { width: 40px; height: 30px; background: white; border: solid 1px #e6e6e6; border-radius: 3px; }
#search-box .plain { height: 30px; border: 0; color: white; background: transparent; }
#search-box .left { position: absolute; left: 10px; top: 10px; }
#search-box .right { position: absolute; right: 10px; top: 10px; }
#search-box .addon-left { position: absolute; left: 0; top: 0; width: 50px; height: 40px; background: transparent; border: 0; border-right: solid 1px #e6e6e6; }
#search-box .addon-right { position: absolute; right: 0; top: 0; width: 50px; height: 40px; background: transparent; border: 0; border-left: solid 1px #e6e6e6; }
#search-box li { position: relative; font-size: 0.8em; padding: 0px 60px; border-top: solid 1px #e6e6e6; height: 35px; }
#search-box li a.label { display: block; padding: 10px 0; text-decoration: none; }
#search-box li i { position: absolute; top: 0; width: 60px; height: 35px; background; red; font-size: 1.1em; line-height: 35px; text-align: center; margin: 0; }
#search-box li i.pull-left { left: 0px; padding: 0 10px 0 0; }
#search-box li i.pull-right { right: 0px; padding: 0 0 0 10px; }

#search-results { display: none; position: absolute; z-index: 3; max-height: 80%; overflow-y: scroll; border: solid 1px #ddd; border-radius: 3px; background: white; width: 390px; top: 50px; left: 10px;
  box-shadow .25s, -moz-box-shadow .25s, -webkit-box-shadow .25s; -webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2); -moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2); box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2); }

#search-results li { border-bottom: solid 1px #ddd; }
#search-results a.visibility { width: 30px; display: block; padding: 10px 0 10px 10px; }
#search-results a.chevron { padding: 10px 10px 10px 0; }
#search-results a.label { margin: 0 40px 0 40px; display: block; padding: 10px 10px 10px 0; }
#search-results a.label:after { content: ''; clear: both; }


#menu { display: none; background: white; padding: 10px; position: absolute; left: 33%; width: 33%; top: 50px; height: auto; }
#menu ul li { padding: 10px 0px; border-bottom: solid 1px black; }

.modal { z-index: 11; display: none; background: white; padding: 15px; position: absolute; left: 33%; width: 33%; top: 50px; height: auto; border-radius: 5px; box-shadow: 10px 10px 55px 0px rgba(0,0,0,0.3); }
.modal h1, .modal h2 { font-weight: normal; }
.modal button { background: white; padding: 8px; border: solid 1px #ccc; margin: 0 10px 0 0; border-radius: 3px; cursor: pointer; }
.modal button.priority { background: #f37f00; color: white; border-color: #12847e; }

#map.active.visible #sidebar-toggle { left: 410px; }
#map.active.visible #map-wrapper { padding-left: 410px; }
#map.active.visible #map-sidebar { width: 410px; height: 100%; background: white; opacity: 1; -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.37); -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.37); box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.37); }
#map.active.visible #search-box { }
#map.active.hidden #search-box { left: -410px; }

button.loading {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve"><rect x="0" y="10" width="4" height="10" fill="%23fff" opacity="0.2"><animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" /><animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" /><animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" /></rect><rect x="8" y="10" width="4" height="10" fill="%23fff"  opacity="0.2"><animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" /><animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" /><animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" /></rect><rect x="16" y="10" width="4" height="10" fill="%23fff"  opacity="0.2"><animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" /><animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" /><animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" /></rect></svg>');
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -999px;
  overflow: hidden;
}