doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/css/autozone-swagger-1.0.0.css')
  body(id=id)
    block content

    script(src="/libraries/jquery/3.1.1/jquery-3.1.1.min.js")
    script(src="/public/js/autozone-swagger-1.0.0.js")
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,300')
    link(rel='stylesheet',href='/libraries/fontawesome/4.6.3/css/font-awesome.min.css')

    block scripts